body{
    background-color: rgba(196, 199, 187, 1);
}
.parent-div-about-us{
    display: flex;
    justify-content: center;
}
.text-div-about-us{
    width: 350px;
    text-align: left;
}
.h1-about-us{
    text-align: center;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 64px;
  line-height: 70px;
  color: rgba(80, 104, 87, 1);
}
.about-us-heading-span{
font-weight: 300;
  font-style: italic;
  font-size: 64px;
  line-height: 70px;
  color: rgba(80, 104, 87, 1);
  font-family: "Bodoni Moda", serif;

}
.img-div-about-us{
    width: 670px;
}
.text-div-about-us p{
   color: rgba(102, 124, 109, 1);
   font-family: "Bodoni Moda", serif;
   font-style: regular;
   font-weight: 400;
   line-height: 32px;
   font-size: 24px;
}
.img-div-about-us img{
   
}